.add-button {
  background-color: white;
  border: 2px solid #dc4c3e;
  display: flex;
  margin: 35px;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  justify-content: center;
  box-shadow: 2px 2px 5px #dc4c3e;
  transition: 0.2s;
}

.add-button:active {
  box-shadow: none;
}
