.todo {
  border: 1px solid #e0e0e0;
  width: 320px;
  padding: 15px;
  box-shadow: 2px 2px 5px #dc4b3e7a;
  transition: 0.5s;
}

.todo:hover {
  box-shadow: 2px 2px 5px #dc4c3e;
}

.todo > input[type="checkbox"] {
  accent-color: #dc4c3e;
  margin-right: 8px;
}

.add-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 0;
  gap: 15px;
  width: 100%;
}

.add-container > input {
  width: 100%;
}

.add-button {
  background-color: white;
  border: 2px solid #dc4c3e;
  padding: 10px;
  border-radius: 5px;
  min-width: 100px;
  justify-content: center;
  box-shadow: 2px 2px 5px #dc4c3e;
  transition: 0.2s;
}

.add-button:active {
  box-shadow: none;
}
